pysheds
Fiona
psycopg2
pycrs
fastapi[all]==0.64.0
uvicorn[standard]==0.13.4
gunicorn==20.0.4
numpy==1.22.2
natcap.invest==3.8.9
rasterstats==0.15.0
dbfread
SQLAlchemy
pymongo
gdal==2.4.4
sympy
antlr4-python3-runtime
aiofiles
requests==2.25.1
AdvancedHTMLParser
pysal==1.14.4
aiohttp==3.7.4
asyncio
celery==4.4.7
flower==0.9.7
pytest==6.2.4
redis==3.5.3

